/* GENERAL STYLING FOR SPECIFIC PAGE */
main {
    background-color: rgba(50, 50, 50, 1);
    color: #ffffff;
    font-size: 1.7rem;
}

h2 {
    font-size: 3rem;
}

section {
    padding: 4rem 4rem;
}

button:hover,
button:focus,
button:active {
    outline: none;
}

/* SHOW NEXT ITEMS BUTTONS STYLING */
.next-items-btn {
    align-self: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 1rem;
    background-color: rgba(50, 50, 50, 1);
    border: none;
    transition: all 0.5s linear;
}

/* SHOW NEXT ITEMS BUTTONS ANIMATION */
.next-items-btn:hover {
    background-color: rgba(80, 80, 80, 1);
}

.next-items-btn:active {
    background-color: rgba(90, 90, 90, 1);
}

.next-items-btn i {
    font-size: 2rem;
}

/* GIVING ALTERNATIVE COLOR FOR DARKER BACKGROUNDS */
.next-items-btn.alternative-bg {
    background-color: rgba(90, 90, 90, 1);
}

.next-items-btn:hover.alternative-bg {
    background-color: rgba(80, 80, 80, 1);
}

.next-items-btn:active.alternative-bg {
    background-color: rgba(60, 60, 60, 1);
}

/* ABOUT SECTION STYLING */
#about {
    padding: 0 4rem 2rem 4rem;
}

#about h2 {
    font-size: 6rem;
}

#about p {
    background-color: rgba(60, 60, 60, 1);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

/* DETAILS SECTION STYLING */
#details {
    display: flex;
    justify-content: space-between;
}

#details figure {
    flex-basis: 35%;
    text-align: center;
}

#details figure img {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid orange;
}

#details article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 65%;
}

#details article p {
    line-height: 2.3rem;
    text-align: justify;
}

/* POSTS SECTION STYLING */
#posts {
    background-color: rgba(60, 60, 60, 1);
    display: flex;
    flex-direction: column;
}

#posts p {
    background-color: rgba(50, 50, 50, 1);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}

#posts #top-posts {
    padding: 4rem 0;
    display: flex;
    justify-content: start;
}

#posts #top-posts article {
    flex-basis: 40%;
    height: 100%;
    margin-right: 4rem;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 10px;
}

#posts #top-posts article figure img {
    width: 100%;
    object-fit: cover;
}

#posts #top-posts article .rating {
    padding: 1rem;
}

/* AUTHOR CONNECTIONS SECTION STYLING */
#author-connections p {
    background-color: rgba(60, 60, 60, 1);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}

#author-connections #professionals {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

#author-connections #professionals article {
    flex-basis: 20%;
    text-align: center;
    background-color: rgba(60, 60, 60, 1);
    padding: 1rem;
    border-radius: 8px;
}

#author-connections #professionals article img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid orange;
}

#author-connections #professionals article h3 {
    margin-top: 1rem;
    font-size: 1rem;
}

#author-connections #professionals article button {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    background-color: rgba(90, 90, 90, 1);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
}

#author-connections #professionals article button:hover {
    background-color: rgba(80, 80, 80, 1);
}

#author-connections #professionals article button:active {
    background-color: rgba(60, 60, 60, 1);
}

/* SOCIAL MEDIAS SECTION STYLING */
#social-medias {
    position: fixed;
    background-color: rgba(90, 90, 90, 1);
    bottom: 5%;
    right: 2%;
    height: 10vh;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

#social-medias button {
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, 1);
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.4rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s linear;
}

/* SOCIAL MEDIA BUTTON ANIMATION */
#social-medias button:hover {
    background-color: rgba(80, 80, 80, 1);
}

#social-medias button:active {
    background-color: rgba(90, 90, 90, 1);
}

#social-medias button i {
    font-size: 1.6rem;
    margin-left: 1rem;
}

#social-medias>i {
    font-size: 2rem;
    margin-left: 1rem;
}