/* GENERAL STYLING FOR SPECIFIC PAGE */
button:hover,
button:focus,
button:active {
    outline: none;
}

/* SLIDESHOW SECTION SLIDING UP EFFECT */
.slide-up {
    transform: translateY(-100vh);
}

/* FORMS SLIDING DOWN FADE EFFECT */
.slide-down {
    opacity: 1;
    transform: translateY(0vh);
}

/* FORMS STYLING */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 60%;
    margin: auto;
    background-color: rgba(140, 140, 140, 1);
    border-radius: 5%;
    opacity: 0;
    color: #ffffff;
    transform: translateY(-100vh);
    transition: all 2s linear;
}

form h2 {
    text-align: center;
    padding: 1rem;
    background-color: rgba(50, 50, 50, 1);
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INPUT & SELECT ELEMENTS STYLING */
input,
select {
    width: 80%;
    padding: 0.9rem 1rem;
    border: 3px solid orange;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 8px 20px 1px rgba(60, 60, 60, 1);
    margin: 0.8rem;
    letter-spacing: 2px;
    font-weight: 600;
}

input:focus,
input:active,
select:focus,
select:active {
    outline: none;
}

select {
    color: rgb(78, 78, 78);
}

/* BUTTON TYPE INPUT STYLING */
input[type=button] {
    margin-bottom: 1.5rem;
    width: 40%;
    color: orange;
    background-color: rgba(50, 50, 50, 1);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s linear;
}

input[type=button]:hover {
    background-color: rgba(60, 60, 60, 1);
}

input[type=button]:active {
    background-color: rgba(80, 80, 80, 1);
}

/* SLIDESHOW SECTION STYLING */
#slideshow-section {
    transition: transform 1s linear;
}

/* UL STYLING */
#slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
}

/* LI STYLING */
#slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: slideshow 40s linear infinite;
}

/* GIVING EACH LI A UNIQUE BACKGROUND IMAGE */
#slideshow li:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1562956839-c12bcb342513?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80);
}

#slideshow li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1431794062232-2a99a5431c6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    animation-delay: 10s;
}

#slideshow li:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
    animation-delay: 20s;
}

#slideshow li:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1562932292-21cc36f7254a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    animation-delay: 30s;
}

/* ANIMATION FOR INFINITE FADING IN & OUT OF EACH LI*/
@keyframes slideshow {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1
    }

    30% {
        opacity: 0
    }
}

/* LEADING CONTENT STYLING */
#leading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    background-color: rgba(50, 50, 50, 0.5);
}

#leading-content h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    animation: slideDownFadeIn 2s linear 1 forwards;
}

#leading-content p {
    width: 40vw;
    text-align: center;
    font-size: 1.5rem;
    animation: slideDownFadeIn 2s linear 1 forwards;
}

#leading-content button {
    text-align: center;
    font-size: 1.5rem;
    animation: slideUpFadeIn 2s linear 1 forwards;
}

/* SLIDE DOWN AND FADE IN ANIMATION */
@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SLIDE UP AND FADE IN ANIMATION */
@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#leading-content button {
    padding: 1rem 1rem;
    background-color: transparent;
    border: none;
}

#leading-content button i {
    font-size: 3rem;
    transition: transform 0.2s linear;
}

/* LEADING CONTENT BUTTON ANIMATION */
#leading-content button:hover i {
    transform: scale(1.2);
}

#leading-content button:active i {
    transform: scale(1.4);
}

/* AUTH FORMS SECTION STYLING */
#auth-section {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#auth-section section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

/* SIGN IN SECTION STYLING */
#auth-section #signin {
    background-color: rgba(50, 50, 50, 1);
}

.other-medias {
    background-color: rgba(50, 50, 50, 1);
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.other-medias h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.other-medias i {
    font-size: 2rem;
    margin: 1rem 1rem;
    transition: all 0.5s linear;
}

/* SIGN UP SECTION STYLING */
#auth-section #signup {
    background-color: rgba(60, 60, 60, 1);
}